.button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 3px;
}

.button:hover {
    opacity: 0.7;
}

.button:disabled {
    background-color: #ccc;
}

.primary {
    background-color: #3770b1;
}

.red {
    background-color: #ff0000;
}