.wrapper {
    position: relative;
}

.input {
    min-width: 400px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.error {
    font-size: 12px;
    position: absolute;
    left: 10px;
    bottom: -20px;
    color: red;
}