.container {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 20px;
    width: 180px;
    padding: 4px 12px;
    background-color: #e2e2e2;
    border-radius: 12px ;
}